<div class="page-inner">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-dark bg-primary-gradient">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right"><i class="fa fa-user"></i></div>
                    <h2 class="mb-2">{{dataDashboard?.users ?? 0}}</h2>
                    <p>Người dùng</p>
                    <div class="pull-in sparkline-fix chart-as-background">
                        <div><canvas width="327" height="70" id="UserAccountChart"
                                style="display: inline-block; width: 327px; height: 70px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-dark bg-secondary-gradient">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right"><i class="fa fa-book" aria-hidden="true"></i></div>
                    <h2 class="mb-2">{{dataDashboard?.blogs ?? 0}}</h2>
                    <p>Sản phẩm</p>
                    <div class="pull-in sparkline-fix chart-as-background">
                        <div><canvas width="327" height="70" id="ProductChart"
                                style="display: inline-block; width: 327px; height: 70px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-dark bg-success2">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                    <h2 class="mb-2">{{dataDashboard?.categoryTypes ?? 0}}</h2>
                    <p>Đơn hàng</p>
                    <div class="pull-in sparkline-fix chart-as-background">
                        <div><canvas width="327" height="70" id="TransactionChart"
                                style="display: inline-block; width: 327px; height: 70px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-dark bg-success2">
                <div class="card-body pb-0">
                    <div class="h1 fw-bold float-right"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                    <h2 class="mb-2">{{dataDashboard?.categories ?? 0}}</h2>
                    <p>Tổng doanh thu</p>
                    <div class="pull-in sparkline-fix chart-as-background">
                        <div><canvas width="327" height="70" id="TransactionChart"
                                style="display: inline-block; width: 327px; height: 70px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">
                        Biểu đồ thống kê sản phẩm mới trong 1 tuần
                    </h2>
                    <div class="chart-container" style="height: 400px !important;">
                        <canvas id="MyChart">{{ chart }}</canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<app-full-screen-spinner [isLoading]="isLoading"></app-full-screen-spinner>