<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <a class="logo" nz-row style="cursor: pointer" routerLink="../main/feature/dashboard">
            <div nz-col [nzSpan]="12">
                <img style="height: 32px;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMzsnwyvJ1Z6NK-CXej3EUX80UsiOEwayMnqZs3hDqeJzQOe8Yh2M6AZ1WNmA9Wlm9eww&usqp=CAU"
                    alt="">
            </div>
            <div nz-col [nzSpan]="12">
                <p style="color: white; font-weight: bold; font-size: 10px;margin-top: 6px;">
                    Farm Production
                </p>
            </div>
        </a>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-submenu nzTitle="{{userInfo?.fullName | uppercase}}" nzIcon="user">
                <ul>
                    <li nz-menu-item>
                        <a (click)="openModal('INFO', userInfo)">Thông tin cá nhân</a>
                    </li>
                    <li nz-menu-item>
                        <a (click)="openModal('CHANGEPASS', userInfo)">Đổi mật khẩu</a>
                    </li>
                    <li nz-menu-item>
                        <a (click)="logout()">Đăng xuất</a>
                    </li>
                </ul>
            </li>
            <hr>
            <li nz-submenu nzTitle="Master Data" nzIcon="file">
                <ul>
                    <li nz-menu-item>
                        <a routerLink="category/catalog">Danh mục</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="category/brand">Thương hiệu</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="category/producer">Nhà sản xuất</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Sản phẩm" nzIcon="appstore">
                <ul>
                    <li nz-menu-item>
                        <a routerLink="product">Sản phẩm</a>
                    </li>
                    <!-- <li nz-menu-item>
                        <a routerLink="product/statistic">Thống kê</a>
                    </li> -->
                </ul>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="book"></span>
                <span> <a routerLink="feature/order">Hóa đơn</a></span>
            </li>
            <!-- <li nz-menu-item>
                <span nz-icon nzType="home"></span>
                <span> <a routerLink="feature/shopping">Bán hàng tại quầy</a></span>
            </li> -->
            <li nz-menu-item>
                <span nz-icon nzType="user"></span>
                <span> <a routerLink="feature/role">Quyền</a></span>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="team"></span>
                <span> <a routerLink="feature/user-account">Người dùng</a></span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                (click)="isCollapsed = !isCollapsed"></span>
        </nz-header>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>

<nz-modal *ngIf="isShownInfo" [(nzVisible)]="isShownInfo" nzTitle="Cập nhật" (nzOnCancel)="handleCancel()"
    (nzOnOk)="onSubmit()">
    <ng-container *nzModalContent>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="12">
                <nz-form-label [nzSm]="6" [nzXs]="24">Email</nz-form-label>
                <input nz-input placeholder="Nhập email" [(ngModel)]="Entity.email" type="text" />
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-label [nzSm]="6" [nzXs]="24">Số điện thoại</nz-form-label>
                <input nz-input placeholder="Nhập sđt" [(ngModel)]="Entity.phone" type="text" />
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-label [nzSm]="6" [nzXs]="24">Họ tên</nz-form-label>
                <input nz-input placeholder="Nhập họ tên" [(ngModel)]="Entity.fullName" type="text" />
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-label [nzSm]="6" [nzXs]="24">Địa chỉ</nz-form-label>
                <input nz-input placeholder="Nhập địa chỉ" [(ngModel)]="Entity.address" type="text" />
            </div>
        </div>
    </ng-container>
</nz-modal>

<nz-modal *ngIf="isChangePass" [(nzVisible)]="isChangePass" nzTitle="Cập nhật" (nzOnCancel)="handleCancel()"
    (nzOnOk)="onSubmit()">
    <ng-container *nzModalContent>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="24">
                <nz-form-label [nzSm]="6" [nzXs]="24">Mật khẩu mới</nz-form-label>
                <input nz-input placeholder="Nhập mật khẩu" [(ngModel)]="Entity.oldHashPassword" type="password" />
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-label [nzSm]="6" [nzXs]="24">Xác nhận mật khẩu</nz-form-label>
                <input nz-input placeholder="Nhập sđt" [(ngModel)]="Entity.newHashPassword" type="password" />
            </div>
        </div>
    </ng-container>
</nz-modal>