<div class="wrapper" style="margin: 10% auto;">

    <div class="heading">
        <h2>Xin chào !</h2>
        <p>Thông tin đăng nhập</p>
    </div>

    <div class="input-group">
        <input type="text" id="username" class="input-field" placeholder="Username" [(ngModel)]="_userName">
    </div>

    <div class="input-group">
        <input type="password" id="password" class="input-field" [(ngModel)]="_password">
    </div>

    <div class="input-group row">

        <div class="row">
            <input type="checkbox" id="remember" hidden>
            <label for="remember" class="custom-checkbox"></label>
            <label for="remember">Remember me?</label>
        </div>

        <div class="row">
            <a href="#" target="_blank">Forgot password?</a>
        </div>
    </div>


    <div class="input-group">
        <button (click)="login()">Login <i class="fa-solid fa-arrow-right"></i></button>
    </div>

</div>