@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import 'ngx-toastr/toastr';

.invalid-mess {
    color: red;
    font-size: 13px;
}

.invalid-form {
    border: solid 0.5px red;
}

.ant-layout-content {
    height: calc(100vh - 135px);
}

.group-btn {
    float: right;
    margin-right: 5px;
}

.group-btn:first-child {
    margin-right: 0px !important;
}

.img_logo {
    width: 50px;
    height: 50px;
}

.bg_deleted {
    background-color: rgb(229, 115, 115);
}

.nz-form-label {
    font-weight: bold;
}